################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# Ignorar arquivos temporários
*.tmp

# Ignorar pasta "bin" e "obj"
bin/
obj/

# Ignorar arquivos de configuração
appsettings.json


*.dll

Poc1.Receiver.Api/.vs/Poc1/FileContentIndex/
